<header class="header">
	{{#if global.siteLogoUrl }}
		<a class="header_logo" href="/">
			<img src="{{ global.siteLogoUrl }}" alt="Site logo">
		</a>
	{{/if}}

	<div class="header_icon header_icon-burger">
		{{{ getIcon 'burger' }}}
	</div>
	<div class="header_icon header_icon-close hiddenSm">
		{{{ getIcon 'close' }}}
	</div>

	<ul class="header_links hiddenSm">
		{{#each global.menuItems as |menuItem key|}}
			<li>
				<a href="{{ menuItem.path }}">{{ menuItem.label }}</a>
			</li>
		{{/each}}
	</ul>
</header>
