<footer class="footer clearfix">
	<div class="container">
		<ul class="footer_links">
			{{#each global.menuItems as |menuItem key|}}
				<li>
					<a href="{{ menuItem.path }}">{{ menuItem.label }}</a>
				</li>
			{{/each}}
		</ul>
		<div class="footer_social">
			{{#each global.social as |socialItem key|}}
				<a href="{{ socialItem.url }}" target="_blank">
					<img src="{{ socialItem.imageUrl }}" alt="{{ socialItem.label }}">
				</a>
			{{/each}}
		</div>
		{{#if global.copyrightText}}
			<p class="footer_rights">{{ global.copyrightText }}</p>
		{{/if}}
	</div>
</footer>