<main class="posts page container">
	<div class="posts_content">
		{{{ content }}}
	</div>
	{{#each posts as |post key|}}
		<a class="postCard" href="/{{ ../meta.postGroup }}/{{ post.postId }}">
			<h2 class="postCard_title">{{ post.title }}</h2>
			<p class="postCard_description">{{ post.description }}</p>
			<span class="postCard_cta">Read post</span>
		</a>
	{{/each}}
</main>
